@import "tailwindcss";

/* Card Component Styles */
.card {
	background-color: hsl(var(--color-card));
	color: hsl(var(--color-card-foreground));
	@apply flex;
	@apply flex-col;
	@apply gap-6;
	@apply rounded-xl;
	@apply border;
}

.card-header {
	@apply grid;
	@apply auto-rows-min;
	@apply grid-rows-[auto_auto];
	@apply items-start;
	@apply gap-1.5;
	@apply px-6;
	@apply pt-6;
}

.card-header:has([data-slot="card-action"]) {
	@apply grid-cols-[1fr_auto];
}

.card-header:has(.border-b) {
	@apply pb-6;
}

.card-title {
	@apply leading-none;
}

.card-description {
	color: hsl(var(--color-muted-foreground));
}

.card-action {
	@apply col-start-2;
	@apply row-span-2;
	@apply row-start-1;
	@apply self-start;
	@apply justify-self-end;
}

.card-content {
	@apply px-6;
}

.card-content:last-child {
	@apply pb-6;
}

.card-footer {
	@apply flex;
	@apply items-center;
	@apply px-6;
	@apply pb-6;
}

.card-footer:has(.border-t) {
	@apply pt-6;
}

